<a href="https://colab.research.google.com/github/danlamberg/DS_AprendizadoMaquina/blob/main/Atividade_Avaliativa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


ALUNO: DANIEL DE OLIVEIRA LAMBERG

ALUNO: DIOGO VARONI DE MOURA

RM: 12210919

RM: 13135759

TURMA: Data Science - Osório Sala 404 - QUA - 19:00 - 21:40

Os dados foram extraídos do site do Kaggle:
[Tabela Fipe - Histórico de Preços](https://www.kaggle.com/datasets/franckepeixoto/tabela-fipe?select=tabela-fipe-historico-precos.csv)

Importando Pandas e bibliotecas:

In [19]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore", category=FutureWarning)


sns.set()

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Conectando ao Google Drive:

In [21]:
%matplotlib inline

df = pd.read_csv('/content/drive/MyDrive/BSI/DATA SCIENCE/Colab Notebooks/TRABALHO 2ºB/tabela-fipe-historico-precos.csv', 
                 sep=',', encoding='latin-1')

Visualizando o que está no Data Frame, visualização das primeiras linhas:

In [22]:
df.head()

,Unnamed: 0,codigoFipe,marca,modelo,anoModelo,mesReferencia,anoReferencia,valor
0,0,038003-2,Acura,Integra GS 1.8,1992,11,2016,13041.0
1,1,038001-6,Acura,NSX 3.0,1995,3,2013,52339.0
2,2,038003-2,Acura,Integra GS 1.8,1992,3,2018,12423.0
3,3,038002-4,Acura,Legend 3.2/3.5,1998,5,2016,31067.0
4,4,038002-4,Acura,Legend 3.2/3.5,1998,2,2019,26381.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466020 entries, 0 to 466019
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     466020 non-null  int64
 1   codigoFipe     466020 non-null  object
 2   marca          466020 non-null  object
 3   modelo         466020 non-null  object
 4   anoModelo      466020 non-null  int64
 5   mesReferencia  466020 non-null  int64
 6   anoReferencia  466020 non-null  int64
 7   valor          466020 non-null  float64
dtypes: float64(1), int64(4), object(3)
memory usage: 28.4+ MB

Método de rotação do Data Frame:

In [24]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,466010,466011,466012,466013,466014,466015,466016,466017,466018,466019
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,544142,544143,544144,544145,544146,544147,544148,544149,544150,544151
codigoFipe,038003-2,038001-6,038003-2,038002-4,038002-4,038002-4,038001-6,038003-2,038002-4,038001-6,...,061001-1,061001-1,061001-1,061001-1,061001-1,061001-1,061001-1,061001-1,061001-1,061001-1
marca,Acura,Acura,Acura,Acura,Acura,Acura,Acura,Acura,Acura,Acura,...,Walk,Walk,Walk,Walk,Walk,Walk,Walk,Walk,Walk,Walk
modelo,Integra GS 1.8,NSX 3.0,Integra GS 1.8,Legend 3.2/3.5,Legend 3.2/3.5,Legend 3.2/3.5,NSX 3.0,Integra GS 1.8,Legend 3.2/3.5,NSX 3.0,...,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv,Buggy Walk Sport 1.6 8V 58cv
anoModelo,1992,1995,1992,1998,1998,1998,1995,1992,1998,1995,...,2011,2011,2011,2022,2019,2011,2022,2011,2022,2022
mesReferencia,11,3,3,5,2,9,10,10,5,10,...,7,10,5,10,7,2,6,8,7,4
anoReferencia,2016,2013,2018,2016,2019,2015,2018,2019,2017,2013,...,2016,2015,2016,2021,2020,2015,2006,2016,2007,2009
valor,13041.0,52339.0,12423.0,31067.0,26381.0,29124.0,43081.0,11433.0,29258.0,51758.0,...,23627.0,24147.0,23771.0,77338.0,44550.0,24811.0,31503.0,23582.0,31990.0,34425.0